.header {
  position: fixed;
  margin-bottom: 3rem;
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  z-index: 10;
  font-size: 2.5rem;
  background-color: #48a91b;
}

.top-log .nav-logo h1 {
  margin: 0 0 0 30px;
  /* text-decoration: none; */
  color: #fff;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu .icons {
  margin: 0 1em 0rem;
  font-size: xx-large;
  color: #fff;
}

.nav-menu a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.hamburger {
  display: none;
}
a:link {
  text-decoration: none;
}
@media screen and(max-width:600px) {
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0;
  }
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: block;
  }

  .nav-logo h1 {
    padding: 0 10px;
    margin: 0 60px 0 0;
    font-size: 1.9rem;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.9s;
    z-index: -1;
    background: rgba(0, 0, 0, 0.9);
  }
  .nav-menu.active {
    left: 0;
  }

  .icons {
    margin-left: 1.9rem;
  }

  .nav-menu li {
    padding: 1rem 0;
    margin: 0;
  }

  .nav-menu a {
    font-size: 2rem;
    color: #fff;
  }
}
