.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.1rem 0 0;
  background: rgba(0, 0, 0, 0.8);
}

.footer-container {
  max-width: 1140px;
  min-height: 200px;
  /* margin: auto; */
  /* margin: 10px 0 0 0; */
}

.footer .right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 1rem 0 0;
  /* margin: auto; */
}

.social {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */

  padding: 1rem 3rem;
}

.footer h4 {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.footer p {
  display: flex;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

@media screen and (max-width: 640px) {
  .footer-container h4 {
    font-size: 1.2rem;
  }
  .footer-container p {
    font-size: 0.9rem;
  }

  .right .social {
    margin: auto;
  }
}
